<h1>Greetings summoner!</h1>
<br />
<h2>Please enter your summoner name below:</h2>
<br />
<form action="/names" method="post">
<label for="summoner">
  Summoner name:
  <input type="text" name="summoner">
</label>
<input type="submit" value="Submit">
</form>
